/*Haji Daly*/
/*P264417*/
/*4/8/2024*/

/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*Body styling*/
body {
    background-image: url("RedBackground.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.dropdown {
    position: relative;
}

li,
a,
footer,
button,
h5,
main {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Flex container for filter controls */
.filter-controls {
    display: flex;
    align-items: center; /* Center vertically */
    width: 100%; /* Ensure it takes full width */
    padding: 0 300px;

}

.input-group {
    margin-left: auto; /* Push the search bar to the right */
}

/* Input field styling */
.input-group .form-control {
    font-family: 'Playfair Display', serif; /* Use the same font as other elements */
    font-weight: 500; /* Match the font weight */
    font-size: 17px; /* Match the font size */

}

/* Optional: Search button styling */
.input-group .input-group-text {
    font-family: 'Playfair Display', serif; /* Ensure button text matches */
    font-weight: 500;
    font-size: 17px;
}


/*Navigation links styling*/
.nav_links {
    font: size 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(255,255, 255, 0.5);
}

.card-img-top {
    height: 420px; /* Set your desired height */
    object-fit: cover; /* Maintain aspect ratio */
}
.card {
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    height: 100%;
}